openapi: 3.0.3
info:
  title: Raygun applications customers API
  version: '3.0'
  description: This is a visual representation of the Raygun API V3 specification.<br> To find out more details and how to get started, you can head over to the <a href='https://raygun.com/documentation/product-guides/public-api/' target='_blank'>documentation</a>.
  contact:
    name: Raygun Support
    email: support@raygun.com
servers:
- url: https://api.raygun.com/v3
  description: ''
security:
- personal_access_token: []
tags:
- name: customers
paths:
  /applications/{application-identifier}/customers:
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    get:
      summary: List Customers for an Application
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/customer'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too Many Requests
      operationId: list-customers
      description: Returns a list of customers for the specified application
      security:
      - personal_access_token:
        - customers:read
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/offset'
      - in: query
        name: orderby
        description: Order items by property values
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - isAnonymous
            - isAnonymous desc
            - firstSeenAt
            - firstSeenAt desc
            - lastSeenAt
            - lastSeenAt desc
      tags:
      - customers
  /applications/{application-identifier}/customers/{customer-identifier}:
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    - $ref: '#/components/parameters/customer-identifier'
    get:
      summary: Get Customer by Identifier
      tags:
      - customers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too Many Requests
      operationId: get-customer-by-identifier
      description: Returns a single customer by identifier
      security:
      - personal_access_token:
        - customers:read
components:
  schemas:
    customer:
      title: customer
      type: object
      properties:
        identifier:
          type: string
        applicationIdentifier:
          type: string
        externalIdentifier:
          type: string
          description: Unique value that identifies the customer in your system.
        emailAddress:
          type: string
          format: email
        firstName:
          type: string
        fullName:
          type: string
        isAnonymous:
          type: boolean
        firstSeenAt:
          type: string
          format: date-time
        lastSeenAt:
          type: string
          format: date-time
  responses:
    problem-details:
      description: Problem Details
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                type: string
              title:
                type: string
              detail:
                type: string
              status:
                type: integer
              traceId:
                type: string
            required:
            - type
            - title
            - status
            - traceId
      headers:
        X-Raygun-RequestId:
          schema:
            type: string
          description: The id associated with this request
  parameters:
    count:
      name: count
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 100
        maximum: 500
      description: Limits the number of items in the response
    offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        maximum: 2147483647
      description: Number of items to skip before returning results
    application-identifier:
      name: application-identifier
      in: path
      required: true
      schema:
        type: string
      description: Application identifier
    customer-identifier:
      name: customer-identifier
      in: path
      schema:
        type: string
      required: true
      description: Customer identifier
  securitySchemes:
    personal_access_token:
      type: http
      scheme: bearer
      description: 'Personal Access Token authorization using the Bearer scheme. Example: `Authorization: Bearer {token}`'
