openapi: 3.0.3
info:
  title: Raygun applications flutter-symbols API
  version: '3.0'
  description: This is a visual representation of the Raygun API V3 specification.<br> To find out more details and how to get started, you can head over to the <a href='https://raygun.com/documentation/product-guides/public-api/' target='_blank'>documentation</a>.
  contact:
    name: Raygun Support
    email: support@raygun.com
servers:
- url: https://api.raygun.com/v3
  description: ''
security:
- personal_access_token: []
tags:
- name: flutter-symbols
paths:
  /applications/{application-identifier}/flutter-symbols:
    get:
      summary: List Flutter Symbols for an Application
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/flutter-symbol'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: list-flutter-symbols
      description: Returns a list of Flutter symbols for the specified application
      security:
      - personal_access_token:
        - cr.flutter-symbols:read
      tags:
      - flutter-symbols
      parameters:
      - $ref: '#/components/parameters/application-identifier'
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/offset'
      - in: query
        name: orderby
        description: Order items by property values
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - name
            - name desc
            - version
            - version desc
            - updatedAt
            - updatedAt desc
            - createdAt
            - createdAt desc
    post:
      summary: Upload a Flutter Symbol
      operationId: upload-flutter-symbol
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flutter-symbol'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '422':
          $ref: '#/components/responses/validation-problem-details'
        '429':
          description: Too Many Requests
      description: Uploads a Flutter symbol to the specified application
      security:
      - personal_access_token:
        - cr.flutter-symbols:write
      requestBody:
        $ref: '#/components/requestBodies/upload-flutter-symbol'
      tags:
      - flutter-symbols
      parameters:
      - $ref: '#/components/parameters/application-identifier'
  /applications/{application-identifier}/flutter-symbols/{flutter-symbol-identifier}:
    get:
      summary: Get Flutter Symbol by Identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flutter-symbol'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
      operationId: get-flutter-symbol
      description: Get a Flutter symbol by identifier
      security:
      - personal_access_token:
        - cr.flutter-symbols:read
      tags:
      - flutter-symbols
      parameters:
      - $ref: '#/components/parameters/application-identifier'
      - $ref: '#/components/parameters/flutter-symbol-identifier'
    delete:
      summary: Delete Flutter Symbol by Identifier
      operationId: delete-flutter-symbol
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      description: Delete a Flutter symbol
      security:
      - personal_access_token:
        - cr.flutter-symbols:write
      tags:
      - flutter-symbols
      parameters:
      - $ref: '#/components/parameters/application-identifier'
      - $ref: '#/components/parameters/flutter-symbol-identifier'
  /applications/{application-identifier}/flutter-symbols/{flutter-symbol-identifier}/content:
    get:
      summary: Get Flutter Symbol Content by Identifier
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: get-flutter-symbol-content
      description: Returns the content of a Flutter symbol
      security:
      - personal_access_token:
        - cr.flutter-symbols:read
      tags:
      - flutter-symbols
      parameters:
      - $ref: '#/components/parameters/application-identifier'
      - $ref: '#/components/parameters/flutter-symbol-identifier'
components:
  responses:
    validation-problem-details:
      description: Validation problem details
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                type: string
              title:
                type: string
              detail:
                type: string
              status:
                type: integer
              traceId:
                type: string
              errors:
                type: object
                additionalProperties:
                  type: array
                  items:
                    type: string
            required:
            - type
            - title
            - status
            - traceId
            - errors
      headers:
        X-Raygun-RequestId:
          schema:
            type: string
          description: The id associated with this request
    problem-details:
      description: Problem Details
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                type: string
              title:
                type: string
              detail:
                type: string
              status:
                type: integer
              traceId:
                type: string
            required:
            - type
            - title
            - status
            - traceId
      headers:
        X-Raygun-RequestId:
          schema:
            type: string
          description: The id associated with this request
  requestBodies:
    upload-flutter-symbol:
      content:
        multipart/form-data:
          schema:
            type: object
            properties:
              file:
                type: string
                format: binary
              version:
                type: string
            required:
            - file
            - version
      required: true
  parameters:
    count:
      name: count
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 100
        maximum: 500
      description: Limits the number of items in the response
    offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        maximum: 2147483647
      description: Number of items to skip before returning results
    application-identifier:
      name: application-identifier
      in: path
      required: true
      schema:
        type: string
      description: Application identifier
    flutter-symbol-identifier:
      name: flutter-symbol-identifier
      in: path
      schema:
        type: string
      required: true
      description: Flutter symbol identifier
  schemas:
    flutter-symbol:
      title: flutter-symbol
      type: object
      properties:
        identifier:
          type: string
        applicationIdentifier:
          type: string
        name:
          type: string
        version:
          type: string
        updatedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
  securitySchemes:
    personal_access_token:
      type: http
      scheme: bearer
      description: 'Personal Access Token authorization using the Bearer scheme. Example: `Authorization: Bearer {token}`'
