openapi: 3.0.3
info:
  title: Raygun applications teams API
  version: '3.0'
  description: This is a visual representation of the Raygun API V3 specification.<br> To find out more details and how to get started, you can head over to the <a href='https://raygun.com/documentation/product-guides/public-api/' target='_blank'>documentation</a>.
  contact:
    name: Raygun Support
    email: support@raygun.com
servers:
- url: https://api.raygun.com/v3
  description: ''
security:
- personal_access_token: []
tags:
- name: teams
paths:
  /teams:
    get:
      summary: List Teams
      tags:
      - teams
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/team'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too Many Requests
      operationId: list-teams
      description: Returns the teams for a plan
      security:
      - personal_access_token:
        - teams:read
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/offset'
      - in: query
        name: orderby
        description: Order items by property values
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - name
            - name desc
  /teams/{team-identifier}:
    parameters:
    - $ref: '#/components/parameters/team-identifier'
    get:
      summary: Get Team by Identifier
      tags:
      - teams
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/team'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too Many Requests
      operationId: get-team-by-identifier
      description: Returns a team with the given identifier
      security:
      - personal_access_token:
        - teams:read
components:
  responses:
    problem-details:
      description: Problem Details
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                type: string
              title:
                type: string
              detail:
                type: string
              status:
                type: integer
              traceId:
                type: string
            required:
            - type
            - title
            - status
            - traceId
      headers:
        X-Raygun-RequestId:
          schema:
            type: string
          description: The id associated with this request
  parameters:
    count:
      name: count
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 100
        maximum: 500
      description: Limits the number of items in the response
    offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        maximum: 2147483647
      description: Number of items to skip before returning results
    team-identifier:
      name: team-identifier
      in: path
      required: true
      schema:
        type: string
      description: Team identifier
  schemas:
    team:
      title: team
      type: object
      properties:
        identifier:
          type: string
        name:
          type: string
        planIdentifier:
          type: string
        isSystemManaged:
          type: boolean
          description: System teams are Owners and Users, and cannot be deleted
      required:
      - identifier
      - name
      - planIdentifier
      - isSystemManaged
  securitySchemes:
    personal_access_token:
      type: http
      scheme: bearer
      description: 'Personal Access Token authorization using the Bearer scheme. Example: `Authorization: Bearer {token}`'
