openapi: 3.0.3
info:
  title: Raygun applications API
  version: '3.0'
  description: This is a visual representation of the Raygun API V3 specification.<br> To find out more details and how to get started, you can head over to the <a href='https://raygun.com/documentation/product-guides/public-api/' target='_blank'>documentation</a>.
  contact:
    name: Raygun Support
    email: support@raygun.com
servers:
- url: https://api.raygun.com/v3
  description: ''
security:
- personal_access_token: []
tags:
- name: applications
paths:
  /applications:
    get:
      summary: List Applications
      tags:
      - applications
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/application'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: list-applications
      description: Returns a list of all applications that the token and token owner has access to
      security:
      - personal_access_token:
        - applications:read
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/offset'
      - in: query
        name: orderby
        description: Order items by property values
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - name
            - name desc
            - apikey
            - apikey desc
  /applications/{application-identifier}:
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    get:
      summary: Get Application by Identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: get-application-by-identifier
      tags:
      - applications
      description: Returns a single application by identifier
      security:
      - personal_access_token:
        - applications:read
  /applications/api-key/{api-key}:
    parameters:
    - $ref: '#/components/parameters/api-key'
    get:
      summary: Get Application by Api Key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: get-application-by-apikey
      tags:
      - applications
      description: Returns a single application associated with the application api key
      security:
      - personal_access_token:
        - applications:read
  /applications/{application-identifier}/regenerate-api-key:
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    post:
      summary: Regenerate Application Api Key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too Many Requests
      operationId: regenerate-application-api-key
      tags:
      - applications
      description: Regenerate the api key for the given application
      security:
      - personal_access_token:
        - applications:write
components:
  parameters:
    api-key:
      name: api-key
      in: path
      required: true
      schema:
        type: string
      description: Application api key
    count:
      name: count
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 100
        maximum: 500
      description: Limits the number of items in the response
    offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        maximum: 2147483647
      description: Number of items to skip before returning results
    application-identifier:
      name: application-identifier
      in: path
      required: true
      schema:
        type: string
      description: Application identifier
  responses:
    problem-details:
      description: Problem Details
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                type: string
              title:
                type: string
              detail:
                type: string
              status:
                type: integer
              traceId:
                type: string
            required:
            - type
            - title
            - status
            - traceId
      headers:
        X-Raygun-RequestId:
          schema:
            type: string
          description: The id associated with this request
  schemas:
    application:
      type: object
      properties:
        identifier:
          type: string
        planIdentifier:
          type: string
        name:
          type: string
        apiKey:
          type: string
        hasSentCrashData:
          type: boolean
        hasSentApmData:
          type: boolean
        hasSentRumData:
          type: boolean
        rumDataType:
          type: string
          enum:
          - notSet
          - mobile
          - web
          description: The type of RUM data this application is set up to handle
      required:
      - identifier
      - planIdentifier
      - name
      - apiKey
      - hasSentCrashData
      - hasSentApmData
      - hasSentRumData
  securitySchemes:
    personal_access_token:
      type: http
      scheme: bearer
      description: 'Personal Access Token authorization using the Bearer scheme. Example: `Authorization: Bearer {token}`'
