openapi: 3.0.3
info:
  title: Raygun applications pages API
  version: '3.0'
  description: This is a visual representation of the Raygun API V3 specification.<br> To find out more details and how to get started, you can head over to the <a href='https://raygun.com/documentation/product-guides/public-api/' target='_blank'>documentation</a>.
  contact:
    name: Raygun Support
    email: support@raygun.com
servers:
- url: https://api.raygun.com/v3
  description: ''
security:
- personal_access_token: []
tags:
- name: pages
paths:
  /applications/{application-identifier}/pages:
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    get:
      summary: List Pages for an Application
      operationId: list-pages
      description: Returns a list of pages for the specified application
      security:
      - personal_access_token:
        - rum.pages:read
      tags:
      - pages
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: '#/components/schemas/web-page'
                  - $ref: '#/components/schemas/mobile-page'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/offset'
      - in: query
        name: orderby
        description: Order items by property values
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - lastSeenAt
            - lastSeenAt desc
            - uri
            - uri desc
            - name
            - name desc
  /applications/{application-identifier}/pages/{page-identifier}:
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    - $ref: '#/components/parameters/page-identifier'
    get:
      summary: Get Page by Identifier
      operationId: get-page
      description: Returns a page by identifier
      security:
      - personal_access_token:
        - rum.pages:read
      tags:
      - pages
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/web-page'
                - $ref: '#/components/schemas/mobile-page'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
components:
  schemas:
    web-page:
      title: web-page
      type: object
      properties:
        identifier:
          type: string
        applicationIdentifier:
          type: string
        uri:
          type: string
          format: uri
        type:
          type: string
        lastSeenAt:
          type: string
          format: date-time
    mobile-page:
      title: mobile-page
      type: object
      properties:
        identifier:
          type: string
        applicationIdentifier:
          type: string
        name:
          type: string
        type:
          type: string
        lastSeenAt:
          type: string
          format: date-time
  responses:
    problem-details:
      description: Problem Details
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                type: string
              title:
                type: string
              detail:
                type: string
              status:
                type: integer
              traceId:
                type: string
            required:
            - type
            - title
            - status
            - traceId
      headers:
        X-Raygun-RequestId:
          schema:
            type: string
          description: The id associated with this request
  parameters:
    count:
      name: count
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 100
        maximum: 500
      description: Limits the number of items in the response
    offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        maximum: 2147483647
      description: Number of items to skip before returning results
    application-identifier:
      name: application-identifier
      in: path
      required: true
      schema:
        type: string
      description: Application identifier
    page-identifier:
      name: page-identifier
      in: path
      required: true
      schema:
        type: string
      description: Page identifier
  securitySchemes:
    personal_access_token:
      type: http
      scheme: bearer
      description: 'Personal Access Token authorization using the Bearer scheme. Example: `Authorization: Bearer {token}`'
