openapi: 3.0.3
info:
  title: Raygun applications sessions API
  version: '3.0'
  description: This is a visual representation of the Raygun API V3 specification.<br> To find out more details and how to get started, you can head over to the <a href='https://raygun.com/documentation/product-guides/public-api/' target='_blank'>documentation</a>.
  contact:
    name: Raygun Support
    email: support@raygun.com
servers:
- url: https://api.raygun.com/v3
  description: ''
security:
- personal_access_token: []
tags:
- name: sessions
paths:
  /applications/{application-identifier}/sessions:
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    get:
      summary: List Sessions for an Application
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/session'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too Many Requests
      operationId: list-sessions
      description: Returns a list of sessions for the specified application
      security:
      - personal_access_token:
        - rum.sessions:read
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/offset'
      - in: query
        name: filter
        description: 'Filter items by an expression. Currently only supports filtering by `xhr.uri`. Note: This parameter cannot be used with `orderby`'
        schema:
          type: string
          pattern: ^xhr\.uri eq .+$
        example: xhr.uri eq https://example.com
      - in: query
        name: orderby
        description: 'Order items by property values. Note: This parameter cannot be used with `filter`'
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - customerIdentifier
            - customerIdentifier desc
            - startedAt
            - startedAt desc
            - updatedAt
            - updatedAt desc
            - endedAt
            - endedAt desc
            - countryCode
            - countryCode desc
            - platformName
            - platformName desc
            - operatingSystemName
            - operatingSystemName desc
            - operatingSystemVersion
            - operatingSystemVersion desc
            - browserName
            - browserName desc
            - browserVersion
            - browserVersion desc
            - viewportWidth
            - viewportWidth desc
            - viewportHeight
            - viewportHeight desc
            - deploymentVersion
            - deploymentVersion desc
      tags:
      - sessions
  /applications/{application-identifier}/sessions/{session-identifier}:
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    - $ref: '#/components/parameters/session-identifier'
    get:
      summary: Get Session by Identifier
      tags:
      - sessions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/session'
                - type: object
                  properties:
                    pageViews:
                      description: A list of page views from this session, only included when pageViews is specified in the include query parameter
                      type: array
                      maxItems: 500
                      items:
                        $ref: '#/components/schemas/sessionPageView'
                    errors:
                      description: A list of errors that occurred during this session, only included when errors is specified in the include query parameter
                      type: array
                      maxItems: 500
                      items:
                        $ref: '#/components/schemas/sessionError'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too Many Requests
      operationId: get-session-by-identifier
      description: Returns a single session by identifier
      security:
      - personal_access_token:
        - rum.sessions:read
      parameters:
      - in: query
        name: include
        description: Include additional information for the session
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - pageViews
            - errors
          example:
          - pageViews,errors
        style: form
        explode: false
components:
  responses:
    problem-details:
      description: Problem Details
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                type: string
              title:
                type: string
              detail:
                type: string
              status:
                type: integer
              traceId:
                type: string
            required:
            - type
            - title
            - status
            - traceId
      headers:
        X-Raygun-RequestId:
          schema:
            type: string
          description: The id associated with this request
  parameters:
    count:
      name: count
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 100
        maximum: 500
      description: Limits the number of items in the response
    offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        maximum: 2147483647
      description: Number of items to skip before returning results
    application-identifier:
      name: application-identifier
      in: path
      required: true
      schema:
        type: string
      description: Application identifier
    session-identifier:
      name: session-identifier
      in: path
      schema:
        type: string
      required: true
      description: Session identifier
  schemas:
    sessionPageView:
      title: page-view
      type: object
      properties:
        pageIdentifier:
          type: string
        viewedAt:
          type: string
          format: date-time
        applicationUrl:
          type: string
          format: uri
          description: URL to view the session page view in Raygun
      required:
      - pageIdentifier
      - viewedAt
      - applicationUrl
    sessionError:
      title: session-error
      type: object
      properties:
        errorGroupIdentifier:
          type: string
        occurredAt:
          type: string
          format: date-time
        applicationUrl:
          type: string
          format: uri
          description: URL to view the error instance in Raygun
      required:
      - errorGroupIdentifier
      - occurredAt
      - applicationUrl
    session:
      title: session
      type: object
      properties:
        identifier:
          type: string
        applicationIdentifier:
          type: string
        customerIdentifier:
          type: string
        isActive:
          type: boolean
        startedAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        endedAt:
          type: string
          format: date-time
          nullable: true
        ipAddress:
          type: string
          oneOf:
          - format: ipv4
          - format: ipv6
        countryCode:
          type: string
          pattern: ^[A-Z]{2}$
          example: US
          description: ISO 3166-1 alpha-2 country code
          nullable: true
        platformName:
          type: string
        operatingSystemName:
          type: string
        operatingSystemVersion:
          type: string
          nullable: true
        browserName:
          type: string
        browserVersion:
          type: string
          nullable: true
        viewportWidth:
          type: integer
        viewportHeight:
          type: integer
        deploymentVersion:
          type: string
          nullable: true
        applicationUrl:
          type: string
          format: uri
          description: URL to view the session in Raygun
      required:
      - identifier
      - applicationIdentifier
      - customerIdentifier
      - isActive
      - startedAt
      - updatedAt
      - endedAt
      - ipAddress
      - countryCode
      - platformName
      - operatingSystemName
      - operatingSystemVersion
      - browserName
      - browserVersion
      - viewportWidth
      - viewportHeight
      - deploymentVersion
      - applicationUrl
  securitySchemes:
    personal_access_token:
      type: http
      scheme: bearer
      description: 'Personal Access Token authorization using the Bearer scheme. Example: `Authorization: Bearer {token}`'
