openapi: 3.0.3
info:
  title: Raygun applications invitations API
  version: '3.0'
  description: This is a visual representation of the Raygun API V3 specification.<br> To find out more details and how to get started, you can head over to the <a href='https://raygun.com/documentation/product-guides/public-api/' target='_blank'>documentation</a>.
  contact:
    name: Raygun Support
    email: support@raygun.com
servers:
- url: https://api.raygun.com/v3
  description: ''
security:
- personal_access_token: []
tags:
- name: invitations
paths:
  /invitations:
    parameters: []
    get:
      summary: List Invitations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/invitation'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: list-invitations
      description: Returns a list invitations that the token and token owner has access to
      security:
      - personal_access_token:
        - invitations:read
      tags:
      - invitations
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/offset'
      - in: query
        name: orderby
        description: Order items by property values
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - emailAddress
            - emailAddress desc
            - createdAt
            - createdAt desc
    post:
      summary: Send an Invitation
      operationId: send-invitation
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invitation'
          headers:
            Location:
              schema:
                type: string
              description: The URI where you can find the newly created invitation
        '400':
          $ref: '#/components/responses/problem-details'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '409':
          $ref: '#/components/responses/problem-details'
        '422':
          $ref: '#/components/responses/validation-problem-details'
        '429':
          description: Too Many Requests
      description: Send an invitation to a user
      tags:
      - invitations
      security:
      - personal_access_token:
        - invitations:write
      requestBody:
        $ref: '#/components/requestBodies/send-invitation'
      parameters: []
  /invitations/{invitation-identifier}:
    parameters:
    - $ref: '#/components/parameters/invitation-identifier'
    get:
      summary: Get Invitation by Identifier
      operationId: get-invitation-by-identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invitation'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too Many Requests
      tags:
      - invitations
      description: Get an invitation by identifier
      security:
      - personal_access_token:
        - invitations:read
  /invitations/{invitation-identifier}/revoke:
    parameters:
    - $ref: '#/components/parameters/invitation-identifier'
    post:
      summary: Revoke Invitation
      operationId: revoke-invitation
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '409':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too Many Requests
      tags:
      - invitations
      description: Revoke a sent invitation
      security:
      - personal_access_token:
        - invitations:write
components:
  responses:
    validation-problem-details:
      description: Validation problem details
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                type: string
              title:
                type: string
              detail:
                type: string
              status:
                type: integer
              traceId:
                type: string
              errors:
                type: object
                additionalProperties:
                  type: array
                  items:
                    type: string
            required:
            - type
            - title
            - status
            - traceId
            - errors
      headers:
        X-Raygun-RequestId:
          schema:
            type: string
          description: The id associated with this request
    problem-details:
      description: Problem Details
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                type: string
              title:
                type: string
              detail:
                type: string
              status:
                type: integer
              traceId:
                type: string
            required:
            - type
            - title
            - status
            - traceId
      headers:
        X-Raygun-RequestId:
          schema:
            type: string
          description: The id associated with this request
  parameters:
    count:
      name: count
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 100
        maximum: 500
      description: Limits the number of items in the response
    offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        maximum: 2147483647
      description: Number of items to skip before returning results
    invitation-identifier:
      name: invitation-identifier
      in: path
      required: true
      schema:
        type: string
      description: Invitation identifier
  requestBodies:
    send-invitation:
      content:
        application/json:
          schema:
            type: object
            properties:
              emailAddress:
                type: string
                format: email
            required:
            - emailAddress
  schemas:
    invitation:
      type: object
      properties:
        identifier:
          type: string
        teamIdentifier:
          type: string
        emailAddress:
          type: string
          format: email
        status:
          type: string
          enum:
          - sent
          - accepted
          - revoked
        createdAt:
          type: string
          format: date-time
        createdByUserIdentifier:
          type: string
        acceptedByUserIdentifier:
          type: string
      required:
      - identifier
      - emailAddress
      - status
      - createdAt
      - createdByUserIdentifier
  securitySchemes:
    personal_access_token:
      type: http
      scheme: bearer
      description: 'Personal Access Token authorization using the Bearer scheme. Example: `Authorization: Bearer {token}`'
