openapi: 3.0.3
info:
  title: Raygun applications source-maps API
  version: '3.0'
  description: This is a visual representation of the Raygun API V3 specification.<br> To find out more details and how to get started, you can head over to the <a href='https://raygun.com/documentation/product-guides/public-api/' target='_blank'>documentation</a>.
  contact:
    name: Raygun Support
    email: support@raygun.com
servers:
- url: https://api.raygun.com/v3
  description: ''
security:
- personal_access_token: []
tags:
- name: source-maps
paths:
  /applications/{application-identifier}/source-maps/{source-map-identifier}:
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    - $ref: '#/components/parameters/source-map-identifier'
    patch:
      summary: Update the URI for a Sourcemap
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/source-map'
        '400':
          $ref: '#/components/responses/problem-details'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '422':
          $ref: '#/components/responses/validation-problem-details'
        '429':
          description: Too many requests
      operationId: source-map-uri
      description: Update the details of a source map
      security:
      - personal_access_token:
        - cr.source-maps:write
      requestBody:
        $ref: '#/components/requestBodies/update-source-map'
      parameters: []
      tags:
      - source-maps
    delete:
      summary: Deletes a Sourcemap by Identifier
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: delete-source-map
      security:
      - personal_access_token:
        - cr.source-maps:write
      parameters: []
      tags:
      - source-maps
      description: Delete a source map
    get:
      summary: Get Source Map by Identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/source-map'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: source-map
      description: Returns a single source map by identifier
      security:
      - personal_access_token:
        - cr.source-maps:read
      parameters: []
      tags:
      - source-maps
  /applications/{application-identifier}/source-maps:
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    get:
      summary: List Source Maps for an Application
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/source-map'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: list-source-maps
      description: Returns a list of source maps for the specified application
      security:
      - personal_access_token:
        - cr.source-maps:read
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/offset'
      - in: query
        name: orderby
        description: Order items by property values
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - uri
            - uri desc
            - fileName
            - fileName desc
            - fileSizeBytes
            - fileSizeBytes desc
            - uploadedAt
            - uploadedAt desc
            - createdAt
            - createdAt desc
            - updatedAt
            - updatedAt desc
      tags:
      - source-maps
    put:
      summary: Upload a Source Map
      operationId: upload-source-map
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/source-map'
        '400':
          $ref: '#/components/responses/problem-details'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '422':
          $ref: '#/components/responses/validation-problem-details'
        '429':
          description: Too Many Requests
      description: Uploads a source map to the specified application
      security:
      - personal_access_token:
        - cr.source-maps:write
      requestBody:
        $ref: '#/components/requestBodies/upload-source-map'
      tags:
      - source-maps
    delete:
      summary: Deletes All Source Maps for an Application
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: delete-all-source-maps
      security:
      - personal_access_token:
        - cr.source-maps:write
      parameters: []
      tags:
      - source-maps
      description: Deletes all source maps
components:
  responses:
    validation-problem-details:
      description: Validation problem details
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                type: string
              title:
                type: string
              detail:
                type: string
              status:
                type: integer
              traceId:
                type: string
              errors:
                type: object
                additionalProperties:
                  type: array
                  items:
                    type: string
            required:
            - type
            - title
            - status
            - traceId
            - errors
      headers:
        X-Raygun-RequestId:
          schema:
            type: string
          description: The id associated with this request
    problem-details:
      description: Problem Details
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                type: string
              title:
                type: string
              detail:
                type: string
              status:
                type: integer
              traceId:
                type: string
            required:
            - type
            - title
            - status
            - traceId
      headers:
        X-Raygun-RequestId:
          schema:
            type: string
          description: The id associated with this request
  requestBodies:
    upload-source-map:
      content:
        multipart/form-data:
          schema:
            type: object
            properties:
              file:
                type: string
                format: binary
              uri:
                type: string
                format: uri
            required:
            - file
            - uri
      required: true
    update-source-map:
      content:
        application/json:
          schema:
            type: object
            properties:
              uri:
                type: string
                format: uri
            required:
            - uri
      required: true
  parameters:
    count:
      name: count
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 100
        maximum: 500
      description: Limits the number of items in the response
    offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        maximum: 2147483647
      description: Number of items to skip before returning results
    application-identifier:
      name: application-identifier
      in: path
      required: true
      schema:
        type: string
      description: Application identifier
    source-map-identifier:
      name: source-map-identifier
      in: path
      required: true
      schema:
        type: string
      description: Source map identifier
  schemas:
    source-map:
      title: source-map
      type: object
      properties:
        identifier:
          type: string
        applicationIdentifier:
          type: string
        uri:
          type: string
          format: uri
        fileName:
          type: string
        fileSizeBytes:
          type: number
        uploadedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        isMapFile:
          type: boolean
  securitySchemes:
    personal_access_token:
      type: http
      scheme: bearer
      description: 'Personal Access Token authorization using the Bearer scheme. Example: `Authorization: Bearer {token}`'
