openapi: 3.0.3
info:
  title: Raygun API
  version: '3.0'
  description: This is a visual representation of the Raygun API V3 specification.<br> To find out more details and how to
    get started, you can head over to the <a href='https://raygun.com/documentation/product-guides/public-api/' target='_blank'>documentation</a>.
  contact:
    name: Raygun Support
    email: support@raygun.com
servers:
- url: https://api.raygun.com/v3
  description: ''
paths:
  /applications:
    get:
      summary: List Applications
      tags:
      - applications
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/application'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: list-applications
      description: Returns a list of all applications that the token and token owner has access to
      security:
      - personal_access_token:
        - applications:read
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/offset'
      - in: query
        name: orderby
        description: Order items by property values
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - name
            - name desc
            - apikey
            - apikey desc
  /applications/{application-identifier}:
    get:
      summary: Get Application by Identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: get-application-by-identifier
      tags:
      - applications
      description: Returns a single application by identifier
      security:
      - personal_access_token:
        - applications:read
    parameters:
    - $ref: '#/components/parameters/application-identifier'
  /applications/{application-identifier}/deployments:
    get:
      summary: List Deployments for an Application
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/deployment'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: list-deployments
      description: Returns a list of deployments for the specified application
      security:
      - personal_access_token:
        - deployments:read
      tags:
      - deployments
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/offset'
      - in: query
        name: orderby
        description: Order items by property values
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - version
            - version desc
            - emailAddress
            - emailAddress desc
            - ownerName
            - ownerName desc
            - comment
            - comment desc
            - deployedAt
            - deployedAt desc
    post:
      summary: Create Deployment
      operationId: create-deployment
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deployment'
          headers:
            Location:
              schema:
                type: string
              description: The URI where you can find the newly created deployment
        '400':
          $ref: '#/components/responses/problem-details'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '422':
          $ref: '#/components/responses/validation-problem-details'
        '429':
          description: Too Many Requests
      description: Create a deployment for the specified application
      security:
      - personal_access_token:
        - deployments:write
      requestBody:
        $ref: '#/components/requestBodies/create-deployment'
      tags:
      - deployments
    parameters:
    - $ref: '#/components/parameters/application-identifier'
  /applications/{application-identifier}/deployments/latest:
    get:
      summary: Get the Latest Deployment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deployment'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: get-latest-deployment
      description: Returns the latest deployment
      security:
      - personal_access_token:
        - deployments:read
      tags:
      - deployments
    parameters:
    - $ref: '#/components/parameters/application-identifier'
  /applications/{application-identifier}/source-maps/{source-map-identifier}:
    patch:
      summary: Update the URI for a Sourcemap
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/source-map'
        '400':
          $ref: '#/components/responses/problem-details'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '422':
          $ref: '#/components/responses/validation-problem-details'
        '429':
          description: Too many requests
      operationId: source-map-uri
      description: Update the details of a source map
      security:
      - personal_access_token:
        - cr.source-maps:write
      requestBody:
        $ref: '#/components/requestBodies/update-source-map'
      parameters: []
      tags:
      - source-maps
    delete:
      summary: Deletes a Sourcemap by Identifier
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: delete-source-map
      security:
      - personal_access_token:
        - cr.source-maps:write
      parameters: []
      tags:
      - source-maps
      description: Delete a source map
    get:
      summary: Get Source Map by Identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/source-map'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: source-map
      description: Returns a single source map by identifier
      security:
      - personal_access_token:
        - cr.source-maps:read
      parameters: []
      tags:
      - source-maps
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    - $ref: '#/components/parameters/source-map-identifier'
  /applications/{application-identifier}/source-maps:
    get:
      summary: List Source Maps for an Application
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/source-map'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: list-source-maps
      description: Returns a list of source maps for the specified application
      security:
      - personal_access_token:
        - cr.source-maps:read
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/offset'
      - in: query
        name: orderby
        description: Order items by property values
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - uri
            - uri desc
            - fileName
            - fileName desc
            - fileSizeBytes
            - fileSizeBytes desc
            - uploadedAt
            - uploadedAt desc
            - createdAt
            - createdAt desc
            - updatedAt
            - updatedAt desc
      tags:
      - source-maps
    put:
      summary: Upload a Source Map
      operationId: upload-source-map
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/source-map'
        '400':
          $ref: '#/components/responses/problem-details'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '422':
          $ref: '#/components/responses/validation-problem-details'
        '429':
          description: Too Many Requests
      description: Uploads a source map to the specified application
      security:
      - personal_access_token:
        - cr.source-maps:write
      requestBody:
        $ref: '#/components/requestBodies/upload-source-map'
      tags:
      - source-maps
    delete:
      summary: Deletes All Source Maps for an Application
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: delete-all-source-maps
      security:
      - personal_access_token:
        - cr.source-maps:write
      parameters: []
      tags:
      - source-maps
      description: Deletes all source maps
    parameters:
    - $ref: '#/components/parameters/application-identifier'
  /applications/{application-identifier}/deployments/{deployment-identifier}:
    get:
      summary: Get Deployment by Identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deployment'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: get-deployment
      description: Returns a single deployment by identifier
      security:
      - personal_access_token:
        - deployments:read
      tags:
      - deployments
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    - $ref: '#/components/parameters/deployment-identifier'
    delete:
      summary: Delete Deployment
      operationId: delete-deployment
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      description: Delete a deployment
      security:
      - personal_access_token:
        - deployments:write
      tags:
      - deployments
    patch:
      summary: Update Deployment Details
      operationId: update-deployment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deployment'
        '400':
          $ref: '#/components/responses/problem-details'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '422':
          $ref: '#/components/responses/validation-problem-details'
        '429':
          description: Too Many Requests
      description: Update the details of a deployment
      security:
      - personal_access_token:
        - deployments:write
      requestBody:
        $ref: '#/components/requestBodies/update-deployment'
      tags:
      - deployments
  /applications/{application-identifier}/error-groups:
    get:
      summary: List Error Groups for an Application
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/error-group'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: list-error-groups
      description: Returns a list of error groups for the specified application
      security:
      - personal_access_token:
        - cr.errors:read
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/offset'
      - in: query
        name: orderby
        description: Order items by property values
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - message
            - message desc
            - status
            - status desc
            - lastOccurredAt
            - lastOccurredAt desc
            - createdAt
            - createdAt desc
      tags:
      - errors
    parameters:
    - $ref: '#/components/parameters/application-identifier'
  /applications/{application-identifier}/deployments/latest/error-groups:
    get:
      summary: List Error Groups From the Latest Deployment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/error-group'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: list-error-groups-from-latest-deployment
      description: Returns a list of error groups from the latest deployment
      security:
      - personal_access_token:
        - cr.errors:read
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/offset'
      - in: query
        name: filter
        description: Filter items by an expression. Currently supports filtering by the virtual property `state`, which can
          be `new`, `stillOccurring`, or `regressed`
        schema:
          type: string
          pattern: ^state eq (new|stillOccurring|regressed)$
        example: state eq regressed
      - in: query
        name: orderby
        description: Order items by property values
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - message
            - message desc
            - status
            - status desc
            - lastOccurredAt
            - lastOccurredAt desc
            - createdAt
            - createdAt desc
      tags:
      - deployments
      - errors
    parameters:
    - $ref: '#/components/parameters/application-identifier'
  /applications/{application-identifier}/deployments/{deployment-identifier}/error-groups:
    get:
      summary: List Error Groups From a Deployment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/error-group'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: list-error-groups-from-deployment
      description: Returns a list of error groups from the specified deployment
      security:
      - personal_access_token:
        - cr.errors:read
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/offset'
      - in: query
        name: filter
        description: Filter items by an expression. Currently supports filtering by the virtual property `state`, which can
          be `new`, `stillOccurring`, or `regressed`
        schema:
          type: string
          pattern: ^state eq (new|stillOccurring|regressed)$
        example: state eq regressed
      - in: query
        name: orderby
        description: Order items by property values
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - message
            - message desc
            - status
            - status desc
            - lastOccurredAt
            - lastOccurredAt desc
            - createdAt
            - createdAt desc
      tags:
      - deployments
      - errors
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    - $ref: '#/components/parameters/deployment-identifier'
  /applications/{application-identifier}/error-groups/{error-group-identifier}:
    get:
      summary: Get Error Group by Identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-group'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: get-error-group
      description: Returns a single error group by identifier
      security:
      - personal_access_token:
        - cr.errors:read
      tags:
      - errors
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    - $ref: '#/components/parameters/error-group-identifier'
  /applications/{application-identifier}/error-groups/{error-group-identifier}/resolve:
    post:
      summary: Resolve Error Group
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-group'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '409':
          $ref: '#/components/responses/problem-details'
        '422':
          $ref: '#/components/responses/validation-problem-details'
        '429':
          description: Too many requests
      operationId: error-group-resolve
      description: Set the status of the error group to resolved
      security:
      - personal_access_token:
        - cr.errors:write
      tags:
      - errors
      requestBody:
        $ref: '#/components/requestBodies/error-group-resolve'
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    - $ref: '#/components/parameters/error-group-identifier'
  /applications/{application-identifier}/error-groups/{error-group-identifier}/activate:
    post:
      summary: Activate Error Group
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-group'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '409':
          $ref: '#/components/responses/problem-details'
        '422':
          $ref: '#/components/responses/validation-problem-details'
        '429':
          description: Too many requests
      operationId: error-group-activate
      description: Set the status of the error group to active
      security:
      - personal_access_token:
        - cr.errors:write
      tags:
      - errors
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    - $ref: '#/components/parameters/error-group-identifier'
  /applications/{application-identifier}/error-groups/{error-group-identifier}/ignore:
    post:
      summary: Ignore Error Group
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-group'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '409':
          $ref: '#/components/responses/problem-details'
        '422':
          $ref: '#/components/responses/validation-problem-details'
        '429':
          description: Too many requests
      operationId: error-group-ignore
      description: Set the status of the error group to ignored
      security:
      - personal_access_token:
        - cr.errors:write
      tags:
      - errors
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    - $ref: '#/components/parameters/error-group-identifier'
  /applications/{application-identifier}/error-groups/{error-group-identifier}/permanently-ignore:
    post:
      summary: Permanently Ignore Error Group
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-group'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '409':
          $ref: '#/components/responses/problem-details'
        '422':
          $ref: '#/components/responses/validation-problem-details'
        '429':
          description: Too many requests
      operationId: error-group-permanently-ignore
      description: Set the status of the error group to permanently ignored
      security:
      - personal_access_token:
        - cr.errors:write
      tags:
      - errors
      requestBody:
        $ref: '#/components/requestBodies/error-group-permanently-ignore'
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    - $ref: '#/components/parameters/error-group-identifier'
  /applications/{application-identifier}/error-groups/{error-group-identifier}/comment:
    post:
      summary: Create Error Group Comment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '422':
          $ref: '#/components/responses/validation-problem-details'
        '429':
          description: Too many requests
      operationId: error-group-create-comment
      description: Create a comment on an error group
      security:
      - personal_access_token:
        - cr.errors:write
      tags:
      - errors
      requestBody:
        $ref: '#/components/requestBodies/create-comment'
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    - $ref: '#/components/parameters/error-group-identifier'
  /applications/{application-identifier}/error-groups/{error-group-identifier}/instances:
    get:
      summary: List Error Instances for an Error Group
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/error-instance-summary'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: list-error-instances-by-error-group-id
      description: Returns a list of error instance summaries for the specified error group, ordered by occurrence time (latest
        first)
      security:
      - personal_access_token:
        - cr.errors:read
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/offset'
      - in: query
        name: orderby
        description: Order items by property values
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - occurredOn
            - occurredOn desc
            - identifier
            - identifier desc
      tags:
      - errors
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    - $ref: '#/components/parameters/error-group-identifier'
  /applications/{application-identifier}/error-groups/{error-group-identifier}/instance/latest:
    get:
      summary: Get Latest Error Instance for an Error Group
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-instance'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: get-latest-error-instance-by-error-group-id
      description: Returns the latest (most recent) error instance for the specified error group
      security:
      - personal_access_token:
        - cr.errors:read
      tags:
      - errors
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    - $ref: '#/components/parameters/error-group-identifier'
  /applications/{application-identifier}/error-groups/{error-group-identifier}/instance/{error-instance-identifier}:
    get:
      summary: Get Error Instance by Identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-instance'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: get-error-instance-by-id
      description: Returns a specific error instance by identifier for the specified error group. Accepts both Base36 and
        numeric identifiers.
      security:
      - personal_access_token:
        - cr.errors:read
      tags:
      - errors
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    - $ref: '#/components/parameters/error-group-identifier'
    - $ref: '#/components/parameters/error-instance-identifier'
  /applications/api-key/{api-key}:
    get:
      summary: Get Application by Api Key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: get-application-by-apikey
      tags:
      - applications
      description: Returns a single application associated with the application api key
      security:
      - personal_access_token:
        - applications:read
    parameters:
    - $ref: '#/components/parameters/api-key'
  /applications/api-key/{api-key}/deployments:
    post:
      summary: Create Deployment With Api Key
      operationId: create-deployment-api-key
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deployment'
          headers:
            Location:
              schema:
                type: string
              description: The URI where you can find the newly created deployment
        '400':
          $ref: '#/components/responses/problem-details'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '422':
          $ref: '#/components/responses/validation-problem-details'
        '429':
          description: Too Many Requests
      description: Create a deployment for an application with the specified api key
      security:
      - personal_access_token:
        - deployments:write
      requestBody:
        $ref: '#/components/requestBodies/create-deployment'
      tags:
      - deployments
    parameters:
    - $ref: '#/components/parameters/api-key'
  /applications/{application-identifier}/regenerate-api-key:
    post:
      summary: Regenerate Application Api Key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too Many Requests
      operationId: regenerate-application-api-key
      tags:
      - applications
      description: Regenerate the api key for the given application
      security:
      - personal_access_token:
        - applications:write
    parameters:
    - $ref: '#/components/parameters/application-identifier'
  /invitations:
    get:
      summary: List Invitations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/invitation'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: list-invitations
      description: Returns a list invitations that the token and token owner has access to
      security:
      - personal_access_token:
        - invitations:read
      tags:
      - invitations
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/offset'
      - in: query
        name: orderby
        description: Order items by property values
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - emailAddress
            - emailAddress desc
            - createdAt
            - createdAt desc
    parameters: []
    post:
      summary: Send an Invitation
      operationId: send-invitation
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invitation'
          headers:
            Location:
              schema:
                type: string
              description: The URI where you can find the newly created invitation
        '400':
          $ref: '#/components/responses/problem-details'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '409':
          $ref: '#/components/responses/problem-details'
        '422':
          $ref: '#/components/responses/validation-problem-details'
        '429':
          description: Too Many Requests
      description: Send an invitation to a user
      tags:
      - invitations
      security:
      - personal_access_token:
        - invitations:write
      requestBody:
        $ref: '#/components/requestBodies/send-invitation'
      parameters: []
  /invitations/{invitation-identifier}:
    parameters:
    - $ref: '#/components/parameters/invitation-identifier'
    get:
      summary: Get Invitation by Identifier
      operationId: get-invitation-by-identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invitation'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too Many Requests
      tags:
      - invitations
      description: Get an invitation by identifier
      security:
      - personal_access_token:
        - invitations:read
  /invitations/{invitation-identifier}/revoke:
    parameters:
    - $ref: '#/components/parameters/invitation-identifier'
    post:
      summary: Revoke Invitation
      operationId: revoke-invitation
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '409':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too Many Requests
      tags:
      - invitations
      description: Revoke a sent invitation
      security:
      - personal_access_token:
        - invitations:write
  /applications/{application-identifier}/deployments/{deployment-identifier}/reprocess-commits:
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    - $ref: '#/components/parameters/deployment-identifier'
    post:
      summary: Reprocess Deployment Commits
      operationId: reprocess-deployment-commits
      responses:
        '202':
          description: Accepted
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '409':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too Many Requests
      description: Reprocess commits for a deployment
      security:
      - personal_access_token:
        - deployments:write
      tags:
      - deployments
  /plans:
    get:
      summary: List Plans
      tags:
      - plans
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/plan'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: list-plans
      description: Returns a list of plans that this token can access
      security:
      - personal_access_token: []
  /teams:
    get:
      summary: List Teams
      tags:
      - teams
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/team'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too Many Requests
      operationId: list-teams
      description: Returns the teams for a plan
      security:
      - personal_access_token:
        - teams:read
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/offset'
      - in: query
        name: orderby
        description: Order items by property values
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - name
            - name desc
  /teams/{team-identifier}:
    get:
      summary: Get Team by Identifier
      tags:
      - teams
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/team'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too Many Requests
      operationId: get-team-by-identifier
      description: Returns a team with the given identifier
      security:
      - personal_access_token:
        - teams:read
    parameters:
    - $ref: '#/components/parameters/team-identifier'
  /applications/{application-identifier}/pages:
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    get:
      summary: List Pages for an Application
      operationId: list-pages
      description: Returns a list of pages for the specified application
      security:
      - personal_access_token:
        - rum.pages:read
      tags:
      - pages
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: '#/components/schemas/web-page'
                  - $ref: '#/components/schemas/mobile-page'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/offset'
      - in: query
        name: orderby
        description: Order items by property values
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - lastSeenAt
            - lastSeenAt desc
            - uri
            - uri desc
            - name
            - name desc
  /applications/{application-identifier}/pages/{page-identifier}:
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    - $ref: '#/components/parameters/page-identifier'
    get:
      summary: Get Page by Identifier
      operationId: get-page
      description: Returns a page by identifier
      security:
      - personal_access_token:
        - rum.pages:read
      tags:
      - pages
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/web-page'
                - $ref: '#/components/schemas/mobile-page'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
  /applications/{application-identifier}/customers:
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    get:
      summary: List Customers for an Application
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/customer'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too Many Requests
      operationId: list-customers
      description: Returns a list of customers for the specified application
      security:
      - personal_access_token:
        - customers:read
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/offset'
      - in: query
        name: orderby
        description: Order items by property values
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - isAnonymous
            - isAnonymous desc
            - firstSeenAt
            - firstSeenAt desc
            - lastSeenAt
            - lastSeenAt desc
      tags:
      - customers
  /applications/{application-identifier}/customers/{customer-identifier}:
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    - $ref: '#/components/parameters/customer-identifier'
    get:
      summary: Get Customer by Identifier
      tags:
      - customers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too Many Requests
      operationId: get-customer-by-identifier
      description: Returns a single customer by identifier
      security:
      - personal_access_token:
        - customers:read
  /applications/{application-identifier}/sessions:
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    get:
      summary: List Sessions for an Application
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/session'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too Many Requests
      operationId: list-sessions
      description: Returns a list of sessions for the specified application
      security:
      - personal_access_token:
        - rum.sessions:read
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/offset'
      - in: query
        name: filter
        description: 'Filter items by an expression. Currently only supports filtering by `xhr.uri`. Note: This parameter
          cannot be used with `orderby`'
        schema:
          type: string
          pattern: ^xhr\.uri eq .+$
        example: xhr.uri eq https://example.com
      - in: query
        name: orderby
        description: 'Order items by property values. Note: This parameter cannot be used with `filter`'
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - customerIdentifier
            - customerIdentifier desc
            - startedAt
            - startedAt desc
            - updatedAt
            - updatedAt desc
            - endedAt
            - endedAt desc
            - countryCode
            - countryCode desc
            - platformName
            - platformName desc
            - operatingSystemName
            - operatingSystemName desc
            - operatingSystemVersion
            - operatingSystemVersion desc
            - browserName
            - browserName desc
            - browserVersion
            - browserVersion desc
            - viewportWidth
            - viewportWidth desc
            - viewportHeight
            - viewportHeight desc
            - deploymentVersion
            - deploymentVersion desc
      tags:
      - sessions
  /applications/{application-identifier}/sessions/{session-identifier}:
    parameters:
    - $ref: '#/components/parameters/application-identifier'
    - $ref: '#/components/parameters/session-identifier'
    get:
      summary: Get Session by Identifier
      tags:
      - sessions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/session'
                - type: object
                  properties:
                    pageViews:
                      description: A list of page views from this session, only included when pageViews is specified in the
                        include query parameter
                      type: array
                      maxItems: 500
                      items:
                        $ref: '#/components/schemas/sessionPageView'
                    errors:
                      description: A list of errors that occurred during this session, only included when errors is specified
                        in the include query parameter
                      type: array
                      maxItems: 500
                      items:
                        $ref: '#/components/schemas/sessionError'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too Many Requests
      operationId: get-session-by-identifier
      description: Returns a single session by identifier
      security:
      - personal_access_token:
        - rum.sessions:read
      parameters:
      - in: query
        name: include
        description: Include additional information for the session
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - pageViews
            - errors
          example:
          - pageViews,errors
        style: form
        explode: false
  /metrics/{application-identifier}/pages/time-series:
    post:
      summary: Time-series Page Metrics
      operationId: metrics-pages-time-series
      responses:
        '200':
          $ref: '#/components/responses/metrics-time-series'
        '400':
          $ref: '#/components/responses/problem-details'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '422':
          $ref: '#/components/responses/validation-problem-details'
        '429':
          description: Too Many Requests
      description: Returns aggregated time-series metrics data for pages
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                start:
                  type: string
                  format: date-time
                end:
                  type: string
                  format: date-time
                granularity:
                  type: string
                  example: 1h
                  pattern: ^\d+[mhd]$
                aggregation:
                  type: string
                  enum:
                  - count
                  - average
                  - median
                  - sum
                  - min
                  - max
                  - p95
                  - p99
                metrics:
                  type: array
                  items:
                    type: string
                    enum:
                    - pageViews
                    - loadTime
                    - firstPaint
                    - firstContentfulPaint
                    - firstInputDelay
                    - largestContentfulPaint
                    - cumulativeLayoutShift
                    - interactionToNextPaint
                filter:
                  type: string
                  example: pageIdentifier = abc123
                  description: 'Filters the result based on an expression. Format: "pageIdentifier = abc123" or "pageIdentifier
                    IN (abc123, def456)"'
              required:
              - start
              - end
              - granularity
              - aggregation
              - metrics
      security:
      - personal_access_token:
        - metrics:pages
      tags:
      - metrics
    parameters:
    - $ref: '#/components/parameters/application-identifier'
  /metrics/{application-identifier}/pages/histogram:
    post:
      summary: Histogram Page Metrics
      operationId: metrics-pages-histogram
      responses:
        '200':
          $ref: '#/components/responses/metrics-histogram'
        '400':
          $ref: '#/components/responses/problem-details'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '422':
          $ref: '#/components/responses/validation-problem-details'
        '429':
          description: Too Many Requests
      description: Returns pre-bucketed histogram metrics data for pages
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                start:
                  type: string
                  format: date-time
                end:
                  type: string
                  format: date-time
                metrics:
                  type: array
                  items:
                    type: string
                    enum:
                    - loadTime
                    - firstPaint
                    - firstContentfulPaint
                    - firstInputDelay
                    - largestContentfulPaint
                    - cumulativeLayoutShift
                    - interactionToNextPaint
                filter:
                  type: string
                  example: pageIdentifier = abc123
                  description: 'Filters the result based on an expression. Format: "pageIdentifier = abc123" or "pageIdentifier
                    IN (abc123, def456)"'
              required:
              - start
              - end
              - metrics
            examples:
              Request single metric:
                value:
                  start: '2019-07-24T14:15:22Z'
                  end: '2019-08-24T14:15:22Z'
                  metrics:
                  - loadTime
              Request multiple metrics:
                value:
                  start: '2019-07-24T14:15:22Z'
                  end: '2019-08-24T14:15:22Z'
                  metrics:
                  - loadTime
                  - firstPaint
              Filter on single page:
                value:
                  start: '2019-07-24T14:15:22Z'
                  end: '2019-08-24T14:15:22Z'
                  metrics:
                  - loadTime
                  filter: pageIdentifier = abc123
              Filter on multiple pages:
                value:
                  start: '2019-07-24T14:15:22Z'
                  end: '2019-08-24T14:15:22Z'
                  metrics:
                  - loadTime
                  filter: pageIdentifier IN (abc123, def456)
      security:
      - personal_access_token:
        - metrics:pages
      tags:
      - metrics
    parameters:
    - $ref: '#/components/parameters/application-identifier'
  /metrics/{application-identifier}/errors/time-series:
    post:
      summary: Time-series Error Metrics
      operationId: metrics-errors-time-series
      responses:
        '200':
          $ref: '#/components/responses/metrics-time-series'
        '400':
          $ref: '#/components/responses/problem-details'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '422':
          $ref: '#/components/responses/validation-problem-details'
        '429':
          description: Too Many Requests
      description: Returns aggregated time-series metrics data for errors
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                start:
                  type: string
                  format: date-time
                end:
                  type: string
                  format: date-time
                granularity:
                  type: string
                  example: 1h
                  pattern: ^\d+[mhd]$
                aggregation:
                  type: string
                  enum:
                  - count
                metrics:
                  type: array
                  items:
                    type: string
                    enum:
                    - errorInstances
                filter:
                  type: string
                  example: errorGroupIdentifier IN (abc123, def456)
                  description: 'Filters the result based on an expression. Format: "errorGroupIdentifier = abc123" or "errorGroupIdentifier
                    IN (abc123, def456)"'
              required:
              - start
              - end
              - granularity
              - aggregation
              - metrics
      security:
      - personal_access_token:
        - metrics:errors
      tags:
      - metrics
    parameters:
    - $ref: '#/components/parameters/application-identifier'
  /applications/{application-identifier}/flutter-symbols:
    get:
      summary: List Flutter Symbols for an Application
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/flutter-symbol'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: list-flutter-symbols
      description: Returns a list of Flutter symbols for the specified application
      security:
      - personal_access_token:
        - cr.flutter-symbols:read
      tags:
      - flutter-symbols
      parameters:
      - $ref: '#/components/parameters/application-identifier'
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/offset'
      - in: query
        name: orderby
        description: Order items by property values
        explode: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - name
            - name desc
            - version
            - version desc
            - updatedAt
            - updatedAt desc
            - createdAt
            - createdAt desc
    post:
      summary: Upload a Flutter Symbol
      operationId: upload-flutter-symbol
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flutter-symbol'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '422':
          $ref: '#/components/responses/validation-problem-details'
        '429':
          description: Too Many Requests
      description: Uploads a Flutter symbol to the specified application
      security:
      - personal_access_token:
        - cr.flutter-symbols:write
      requestBody:
        $ref: '#/components/requestBodies/upload-flutter-symbol'
      tags:
      - flutter-symbols
      parameters:
      - $ref: '#/components/parameters/application-identifier'
  /applications/{application-identifier}/flutter-symbols/{flutter-symbol-identifier}:
    get:
      summary: Get Flutter Symbol by Identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flutter-symbol'
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
      operationId: get-flutter-symbol
      description: Get a Flutter symbol by identifier
      security:
      - personal_access_token:
        - cr.flutter-symbols:read
      tags:
      - flutter-symbols
      parameters:
      - $ref: '#/components/parameters/application-identifier'
      - $ref: '#/components/parameters/flutter-symbol-identifier'
    delete:
      summary: Delete Flutter Symbol by Identifier
      operationId: delete-flutter-symbol
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      description: Delete a Flutter symbol
      security:
      - personal_access_token:
        - cr.flutter-symbols:write
      tags:
      - flutter-symbols
      parameters:
      - $ref: '#/components/parameters/application-identifier'
      - $ref: '#/components/parameters/flutter-symbol-identifier'
  /applications/{application-identifier}/flutter-symbols/{flutter-symbol-identifier}/content:
    get:
      summary: Get Flutter Symbol Content by Identifier
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/problem-details'
        '403':
          $ref: '#/components/responses/problem-details'
        '404':
          $ref: '#/components/responses/problem-details'
        '429':
          description: Too many requests
      operationId: get-flutter-symbol-content
      description: Returns the content of a Flutter symbol
      security:
      - personal_access_token:
        - cr.flutter-symbols:read
      tags:
      - flutter-symbols
      parameters:
      - $ref: '#/components/parameters/application-identifier'
      - $ref: '#/components/parameters/flutter-symbol-identifier'
components:
  schemas:
    application:
      type: object
      properties:
        identifier:
          type: string
        planIdentifier:
          type: string
        name:
          type: string
        apiKey:
          type: string
        hasSentCrashData:
          type: boolean
        hasSentApmData:
          type: boolean
        hasSentRumData:
          type: boolean
        rumDataType:
          type: string
          enum:
          - notSet
          - mobile
          - web
          description: The type of RUM data this application is set up to handle
      required:
      - identifier
      - planIdentifier
      - name
      - apiKey
      - hasSentCrashData
      - hasSentApmData
      - hasSentRumData
    plan:
      title: plan
      type: object
      properties:
        identifier:
          type: string
      required:
      - identifier
    team:
      title: team
      type: object
      properties:
        identifier:
          type: string
        name:
          type: string
        planIdentifier:
          type: string
        isSystemManaged:
          type: boolean
          description: System teams are Owners and Users, and cannot be deleted
      required:
      - identifier
      - name
      - planIdentifier
      - isSystemManaged
    invitation:
      type: object
      properties:
        identifier:
          type: string
        teamIdentifier:
          type: string
        emailAddress:
          type: string
          format: email
        status:
          type: string
          enum:
          - sent
          - accepted
          - revoked
        createdAt:
          type: string
          format: date-time
        createdByUserIdentifier:
          type: string
        acceptedByUserIdentifier:
          type: string
      required:
      - identifier
      - emailAddress
      - status
      - createdAt
      - createdByUserIdentifier
    deployment:
      type: object
      properties:
        identifier:
          type: string
        applicationIdentifier:
          type: string
        version:
          type: string
        emailAddress:
          type: string
          format: email
        ownerName:
          type: string
        comment:
          type: string
        scmIdentifier:
          type: string
        scmType:
          type: string
          enum:
          - gitHub
          - bitbucket
          - gitLab
          - azureDevOps
        deployedAt:
          type: string
          format: date-time
        applicationUrl:
          type: string
          format: uri
          readOnly: true
      required:
      - identifier
      - applicationIdentifier
      - version
    error-group:
      type: object
      properties:
        identifier:
          type: string
        applicationIdentifier:
          type: string
        message:
          type: string
        status:
          type: string
          enum:
          - active
          - resolved
          - ignored
          - permanentlyIgnored
        lastOccurredAt:
          type: string
        createdAt:
          type: string
          format: date-time
        resolvedIn:
          type: object
          properties:
            version:
              type: string
            discardFromPreviousVersions:
              type: boolean
        discardNewOccurrences:
          type: boolean
          description: True if the error is permanently ignored and has been set to discard any new occurrences.
        applicationUrl:
          type: string
          format: uri
          description: URL to view the error group in Raygun.
      required:
      - identifier
      - applicationIdentifier
      - message
      - status
      - lastOccurredAt
      - createdAt
    error-instance:
      type: object
      properties:
        identifier:
          type: string
          description: Identifier of the error instance
        applicationIdentifier:
          type: string
          description: Identifier of the application the error instance belongs to
        errorGroupIdentifier:
          type: string
          description: Identifier of the error group this instance belongs to
        occurredOn:
          type: string
          format: date-time
          description: When this error instance occurred
        error:
          $ref: '#/components/schemas/error-detail'
          description: The error details including stack trace and exception information
        tags:
          type: array
          items:
            type: string
          description: Tags associated with this error instance
        userCustomData:
          type: object
          additionalProperties: true
          description: Custom data provided by the user/application
        client:
          $ref: '#/components/schemas/client-detail'
          description: Client information (library/SDK details)
        request:
          $ref: '#/components/schemas/request-detail'
          description: Request information if this error occurred during an HTTP request
        user:
          $ref: '#/components/schemas/user-detail'
          description: User information associated with this error instance
        breadcrumbs:
          type: array
          items:
            $ref: '#/components/schemas/breadcrumb-detail'
          description: Breadcrumbs leading up to the error
        environment:
          $ref: '#/components/schemas/environment-detail'
          description: Environment information when the error occurred
        version:
          type: string
          description: Version of the application when the error occurred
        machineName:
          type: string
          description: Name of the machine where the error occurred
        applicationUrl:
          type: string
          format: uri
          description: URL to view this error instance in the Raygun application
      required:
      - identifier
      - applicationIdentifier
      - errorGroupIdentifier
      - occurredOn
      - error
      - applicationUrl
    comment:
      title: comment
      type: object
      properties:
        applicationIdentifier:
          type: string
        errorGroupIdentifier:
          type: string
        comment:
          type: string
        createdAt:
          type: string
          format: date-time
      required:
      - identifier
      - applicationIdentifier
      - errorGroupIdentifier
      - comment
      - createdAt
    error-instance-summary:
      type: object
      properties:
        identifier:
          type: string
          description: Identifier of the error instance
        occurredOn:
          type: string
          format: date-time
          description: When this error instance occurred
      required:
      - identifier
      - occurredOn
    error-detail:
      type: object
      properties:
        message:
          type: string
          description: The error message
        className:
          type: string
          description: The exception class name
        innerError:
          $ref: '#/components/schemas/error-detail'
          description: Inner exception details
        innerErrors:
          type: array
          items:
            $ref: '#/components/schemas/error-detail'
          description: Multiple inner exceptions (for AggregateException scenarios)
        stackTrace:
          type: array
          items:
            $ref: '#/components/schemas/stack-frame-detail'
          description: Stack trace frames
    stack-frame-detail:
      type: object
      properties:
        lineNumber:
          type: integer
          description: Line number in the source file
        columnNumber:
          type: integer
          description: Column number in the source file
        className:
          type: string
          description: Class name containing the method
        fileName:
          type: string
          description: File name of the source code
        methodName:
          type: string
          description: Method name
        raw:
          type: string
          description: Raw stack frame string
    client-detail:
      type: object
      properties:
        name:
          type: string
          description: Name of the client SDK
        version:
          type: string
          description: Version of the client SDK
        clientUrl:
          type: string
          format: uri
          description: URL of the client SDK
    request-detail:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: HTTP URL that was being requested
        httpMethod:
          type: string
          description: HTTP method (GET, POST, etc.)
        headers:
          type: object
          additionalProperties:
            type: string
          description: Request headers
        queryString:
          type: object
          additionalProperties:
            type: string
          description: Query string parameters
        form:
          type: object
          additionalProperties:
            type: string
          description: Form data if applicable
        rawData:
          type: string
          description: Raw request data
        ipAddress:
          type: string
          description: IP address of the client
        hostName:
          type: string
          description: Host header value
    user-detail:
      type: object
      properties:
        identifier:
          type: string
          description: User identifier
        isAnonymous:
          type: boolean
          description: Whether the user is anonymous
        email:
          type: string
          format: email
          description: User's email address
        fullName:
          type: string
          description: User's full name
        firstName:
          type: string
          description: User's first name
        uuid:
          type: string
          format: uuid
          description: UUID for this user
    breadcrumb-detail:
      type: object
      properties:
        message:
          type: string
          description: Message describing the breadcrumb
        category:
          type: string
          description: Category of the breadcrumb
        level:
          type: string
          description: Level of the breadcrumb (info, warning, error, etc.)
        timestamp:
          type: string
          format: date-time
          description: When this breadcrumb was recorded
        type:
          type: string
          description: Type of breadcrumb
        customData:
          type: object
          additionalProperties: true
          description: Custom data associated with the breadcrumb
    environment-detail:
      type: object
      properties:
        processorCount:
          type: integer
          description: Processor count
        osVersion:
          type: string
          description: Operating system version
        windowBoundsWidth:
          type: string
          description: Window bounds width if applicable
        windowBoundsHeight:
          type: string
          description: Window bounds height if applicable
        browser:
          type: string
          description: Browser name if this is a web application
        browserVersion:
          type: string
          description: Browser version
        colorDepth:
          type: integer
          description: Color depth of the display
        resolutionWidth:
          type: integer
          description: Screen resolution width
        resolutionHeight:
          type: integer
          description: Screen resolution height
        currentCulture:
          type: string
          description: Current culture
        totalPhysicalMemory:
          type: integer
          format: int64
          description: Total physical memory
        availablePhysicalMemory:
          type: integer
          format: int64
          description: Available physical memory
        totalVirtualMemory:
          type: integer
          format: int64
          description: Total virtual memory
        availableVirtualMemory:
          type: integer
          format: int64
          description: Available virtual memory
        diskSpaceFree:
          type: string
          description: Disk space information
        architecture:
          type: string
          description: Architecture (x86, x64, etc.)
    source-map:
      title: source-map
      type: object
      properties:
        identifier:
          type: string
        applicationIdentifier:
          type: string
        uri:
          type: string
          format: uri
        fileName:
          type: string
        fileSizeBytes:
          type: number
        uploadedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        isMapFile:
          type: boolean
    web-page:
      title: web-page
      type: object
      properties:
        identifier:
          type: string
        applicationIdentifier:
          type: string
        uri:
          type: string
          format: uri
        type:
          type: string
        lastSeenAt:
          type: string
          format: date-time
    mobile-page:
      title: mobile-page
      type: object
      properties:
        identifier:
          type: string
        applicationIdentifier:
          type: string
        name:
          type: string
        type:
          type: string
        lastSeenAt:
          type: string
          format: date-time
    customer:
      title: customer
      type: object
      properties:
        identifier:
          type: string
        applicationIdentifier:
          type: string
        externalIdentifier:
          type: string
          description: Unique value that identifies the customer in your system.
        emailAddress:
          type: string
          format: email
        firstName:
          type: string
        fullName:
          type: string
        isAnonymous:
          type: boolean
        firstSeenAt:
          type: string
          format: date-time
        lastSeenAt:
          type: string
          format: date-time
    session:
      title: session
      type: object
      properties:
        identifier:
          type: string
        applicationIdentifier:
          type: string
        customerIdentifier:
          type: string
        isActive:
          type: boolean
        startedAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        endedAt:
          type: string
          format: date-time
          nullable: true
        ipAddress:
          type: string
          oneOf:
          - format: ipv4
          - format: ipv6
        countryCode:
          type: string
          pattern: ^[A-Z]{2}$
          example: US
          description: ISO 3166-1 alpha-2 country code
          nullable: true
        platformName:
          type: string
        operatingSystemName:
          type: string
        operatingSystemVersion:
          type: string
          nullable: true
        browserName:
          type: string
        browserVersion:
          type: string
          nullable: true
        viewportWidth:
          type: integer
        viewportHeight:
          type: integer
        deploymentVersion:
          type: string
          nullable: true
        applicationUrl:
          type: string
          format: uri
          description: URL to view the session in Raygun
      required:
      - identifier
      - applicationIdentifier
      - customerIdentifier
      - isActive
      - startedAt
      - updatedAt
      - endedAt
      - ipAddress
      - countryCode
      - platformName
      - operatingSystemName
      - operatingSystemVersion
      - browserName
      - browserVersion
      - viewportWidth
      - viewportHeight
      - deploymentVersion
      - applicationUrl
    sessionPageView:
      title: page-view
      type: object
      properties:
        pageIdentifier:
          type: string
        viewedAt:
          type: string
          format: date-time
        applicationUrl:
          type: string
          format: uri
          description: URL to view the session page view in Raygun
      required:
      - pageIdentifier
      - viewedAt
      - applicationUrl
    sessionError:
      title: session-error
      type: object
      properties:
        errorGroupIdentifier:
          type: string
        occurredAt:
          type: string
          format: date-time
        applicationUrl:
          type: string
          format: uri
          description: URL to view the error instance in Raygun
      required:
      - errorGroupIdentifier
      - occurredAt
      - applicationUrl
    flutter-symbol:
      title: flutter-symbol
      type: object
      properties:
        identifier:
          type: string
        applicationIdentifier:
          type: string
        name:
          type: string
        version:
          type: string
        updatedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
  securitySchemes:
    personal_access_token:
      type: http
      scheme: bearer
      description: 'Personal Access Token authorization using the Bearer scheme. Example: `Authorization: Bearer {token}`'
  requestBodies:
    send-invitation:
      content:
        application/json:
          schema:
            type: object
            properties:
              emailAddress:
                type: string
                format: email
            required:
            - emailAddress
    upload-source-map:
      content:
        multipart/form-data:
          schema:
            type: object
            properties:
              file:
                type: string
                format: binary
              uri:
                type: string
                format: uri
            required:
            - file
            - uri
      required: true
    update-source-map:
      content:
        application/json:
          schema:
            type: object
            properties:
              uri:
                type: string
                format: uri
            required:
            - uri
      required: true
    create-deployment:
      content:
        application/json:
          schema:
            type: object
            properties:
              version:
                type: string
                minLength: 1
                maxLength: 128
              ownerName:
                type: string
                minLength: 0
                maxLength: 128
              emailAddress:
                type: string
                minLength: 0
                maxLength: 128
                format: email
              comment:
                type: string
              scmIdentifier:
                type: string
                minLength: 0
                maxLength: 256
              scmType:
                type: string
                enum:
                - gitHub
                - gitLab
                - azureDevOps
                - bitbucket
              createdAt:
                type: string
                format: date-time
                description: 'Prefer `deployedAt`. This field is for backwards compatibility.


                  Specifying both `createdAt` and `deployedAt` will prioritize the use of `deployedAt`'
                deprecated: true
              deployedAt:
                type: string
                format: date-time
            required:
            - version
    update-deployment:
      content:
        application/json:
          schema:
            type: object
            properties:
              version:
                type: string
                minLength: 1
                maxLength: 128
              ownerName:
                type: string
                minLength: 0
                maxLength: 128
              emailAddress:
                type: string
                minLength: 0
                maxLength: 128
                format: email
              comment:
                type: string
              scmIdentifier:
                type: string
                minLength: 0
                maxLength: 256
              scmType:
                type: string
                enum:
                - gitHub
                - gitLab
                - azureDevOps
                - bitbucket
              deployedAt:
                type: string
                format: date-time
    error-group-resolve:
      content:
        application/json:
          schema:
            type: object
            properties:
              version:
                type: string
                description: The version that this error was resolved in
              discardFromPreviousVersions:
                default: true
                type: boolean
                description: When true, occurrences from previous versions will be discarded.
            required:
            - version
            - discardFromPreviousVersions
    error-group-permanently-ignore:
      content:
        application/json:
          schema:
            type: object
            properties:
              discardNewOccurrences:
                type: boolean
                description: When true, new occurrences of this error will not be stored or count towards your error quota
            required:
            - discardNewOccurrences
      required: true
    create-comment:
      content:
        application/json:
          schema:
            type: object
            properties:
              comment:
                type: string
                description: The comment to add to the error group
      required: true
    upload-flutter-symbol:
      content:
        multipart/form-data:
          schema:
            type: object
            properties:
              file:
                type: string
                format: binary
              version:
                type: string
            required:
            - file
            - version
      required: true
  parameters:
    team-identifier:
      name: team-identifier
      in: path
      required: true
      schema:
        type: string
      description: Team identifier
    application-identifier:
      name: application-identifier
      in: path
      required: true
      schema:
        type: string
      description: Application identifier
    invitation-identifier:
      name: invitation-identifier
      in: path
      required: true
      schema:
        type: string
      description: Invitation identifier
    api-key:
      name: api-key
      in: path
      required: true
      schema:
        type: string
      description: Application api key
    deployment-identifier:
      name: deployment-identifier
      in: path
      required: true
      schema:
        type: string
      description: Deployment identifier
    count:
      name: count
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 100
        maximum: 500
      description: Limits the number of items in the response
    offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        maximum: 2147483647
      description: Number of items to skip before returning results
    error-group-identifier:
      name: error-group-identifier
      in: path
      required: true
      schema:
        type: string
      description: Error group identifier
    source-map-identifier:
      name: source-map-identifier
      in: path
      required: true
      schema:
        type: string
      description: Source map identifier
    page-identifier:
      name: page-identifier
      in: path
      required: true
      schema:
        type: string
      description: Page identifier
    customer-identifier:
      name: customer-identifier
      in: path
      schema:
        type: string
      required: true
      description: Customer identifier
    session-identifier:
      name: session-identifier
      in: path
      schema:
        type: string
      required: true
      description: Session identifier
    flutter-symbol-identifier:
      name: flutter-symbol-identifier
      in: path
      schema:
        type: string
      required: true
      description: Flutter symbol identifier
    error-instance-identifier:
      name: error-instance-identifier
      in: path
      schema:
        type: string
      required: true
      description: Error instance identifier (accepts both Base36 and numeric formats)
  responses:
    problem-details:
      description: Problem Details
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                type: string
              title:
                type: string
              detail:
                type: string
              status:
                type: integer
              traceId:
                type: string
            required:
            - type
            - title
            - status
            - traceId
      headers:
        X-Raygun-RequestId:
          schema:
            type: string
          description: The id associated with this request
    validation-problem-details:
      description: Validation problem details
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                type: string
              title:
                type: string
              detail:
                type: string
              status:
                type: integer
              traceId:
                type: string
              errors:
                type: object
                additionalProperties:
                  type: array
                  items:
                    type: string
            required:
            - type
            - title
            - status
            - traceId
            - errors
      headers:
        X-Raygun-RequestId:
          schema:
            type: string
          description: The id associated with this request
    metrics-time-series:
      description: Time-series metrics
      content:
        application/json:
          schema:
            type: array
            items:
              type: object
              properties:
                aggregation:
                  type: string
                metric:
                  type: string
                series:
                  type: array
                  items:
                    type: object
                    properties:
                      time:
                        type: string
                        format: date-time
                      value:
                        type: number
                        format: double
    metrics-histogram:
      description: Histogram metrics
      content:
        application/json:
          schema:
            type: array
            items:
              type: object
              properties:
                metric:
                  type: string
                buckets:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: number
                        description: Lower bound of the bucket.
                      range:
                        type: string
                        description: 'Inclusive lower bound and exclusive upperbound of the bucket. Format: {lower-bound}
                          - {upper-bound}.'
                      count:
                        type: integer
                        description: Number of events that fall in the bucket.
                    required:
                    - key
                    - range
                    - count
              required:
              - metric
              - buckets
          examples:
            Single-metric example:
              value:
              - metric: loadTime
                buckets:
                - key: 100
                  range: 100 - 200
                  count: 4000
                - key: 200
                  range: 200 - 300
                  count: 5000
            Multi-metric example:
              value:
              - metric: loadTime
                buckets:
                - key: 100
                  range: 100 - 200
                  count: 4000
              - metric: firstPaint
                buckets:
                - key: 80.5
                  range: 80.5 - 120.5
                  count: 300
tags:
- name: applications
- name: customers
- name: deployments
- name: errors
- name: invitations
- name: metrics
- name: pages
- name: plans
- name: sessions
- name: source-maps
- name: teams
- name: flutter-symbols
security:
- personal_access_token: []
